<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Comunidade - GOG Game Store</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="mt-4">Comunidade</h1>
        <p>Participe de discussões, veja as últimas novidades da nossa comunidade de jogadores!</p>
    </div>
</body>
</html>
