<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Loja - GOG Game Store</title>
</head>
<body>
    <h1>Loja de Jogos</h1>
    <div class="container">
        <div class="jogos row">
            {% for jogo in jogos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ jogo.background_image }}" class="card-img-top" alt="{{ jogo.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ jogo.name }}</h5>
                            <p class="card-text">{{ jogo.description_raw }}</p>
                            <p>Preço: R$ {{ jogo.preco }}</p>
                            <p>Data de Lançamento: {{ jogo.released }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>