<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sobre - GOG Game Store</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="mt-4">Sobre Nós</h1>
        <p>Esta é uma loja de jogos baseada na GOG. Aqui você pode comprar jogos digitais e aproveitar promoções incríveis!</p>
    </div>
</body>
</html>
